<div id="fh5co-countdown">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center animate-box">
			<p class="countdown">
				<span id="days"></span>
				<span id="hours"></span>
				<span id="minutes"></span>
				<span id="seconds"></span>
			</p>
		</div>
	</div>
</div>