<footer>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<img class="img-responsive center-block" style="max-width:150px;" src="img/logo_white.png">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<br>
					<p class="fh5co-social-icons">
						<a href="#"><i class="icon-twitter3"></i></a>
						<a href="#"><i class="icon-facebook22"></i></a>
						<a href="#"><i class="icon-instagram2"></i></a>
						<a href="#"><i class="icon-youtube2"></i></a>
					</p>
				</div>
			</div>
				
		</div>
	</div>
</footer>