<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Claudia e Marco</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Il Matrimonio di Claudia e Marco" />
<meta name="keywords" content="claudia, marco, matrimonio" />
<meta name="author" content="Marco"/>

<link href="https://fonts.googleapis.com/css?family=Montez" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>


<!-- Bootstrap  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Animate.css -->
<link rel="stylesheet" href="css/animate.css"> <!-- Per animazione del testo -->

<!-- Superfish -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/superfish/1.7.9/css/superfish.css">  <!-- Per il menu -->
<link rel="stylesheet" href="css/style.css">
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="css/icomoon.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="css/magnific-popup.css"

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<!-- jQuery -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<script src="js/scripts.js"></script> <!-- scripts uses: jQuery, Stellar -->
<!--<script>$(window).stellar({ horizontalScrolling: true });</script> <!-- disable horizontal scroll of backgroud image to keep it centered horizontally -->
<script> $('.background-image-cover').stellar({ horizontalScrolling: true }); </script>

<script src="https://widget.cloudinary.com/global/all.js" type="text/javascript">  
</script>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'it', includedLanguages: 'en,fr,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


<script src="js/custom.js"></script>
