
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				        <div class="panel panel-default">
				            <div class="panel-heading" role="tab" id="headingOne">
				                <h4 class="panel-title">
				                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
				                        <i class="more-less glyphicon glyphicon-plus-sign"></i>
				                        Dove si trova l'Abbazia di San Faustino?
				                    </a>
				                </h4>
				            </div>
				            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				                <div class="panel-body">
				                    Abbazia di San Faustino, dove si svolgerà il matrimonio, si trova a Pietralunga vicino Umbertide, in provincia di Perugia. L'abbazia, inoltre, è vicina anche a mete turistiche come Gubbio ed Assisi. Per maggiori informazioni riguardanti l'Abbazia, visitate la sezione del sito <i>Il Matrimonio</i>.
				                </div>
				            </div>
				        </div>

				        <div class="panel panel-default">
				            <div class="panel-heading" role="tab" id="headingTwo">
				                <h4 class="panel-title">
				                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				                        <i class="more-less glyphicon glyphicon-plus-sign"></i>
				                        Come ci si deve organizzare per l'alloggio?
				                    </a>
				                </h4>
				            </div>
				            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				                <div class="panel-body">
				                    Per il soggiorno della notte del 1 settembre non dovrete preoccuparvi dell'alloggio in quanto sarete ospiti degli sposi. Sarà possibile fare il check in dalle ore 14.00 di sabato 1 settembre 2018 e ci saluteremo domenica dopo colazione.
				                </div>
				            </div>
				        </div>

				        <div class="panel panel-default">
				            <div class="panel-heading" role="tab" id="headingThree">
				                <h4 class="panel-title">
				                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				                        <i class="more-less glyphicon glyphicon-plus-sign"></i>
				                        Come mi posso vestire per il matrimonio?
				                    </a>
				                </h4>
				            </div>
				            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				                <div class="panel-body">
				                    Per il matrimonio è richiesto uno stile business casual, quindi elegante ma non formale. Inoltre, l'abbazia di San Faustino si trova in collina e la sera potrebbe fare fresco, perciò vi consigliamo almeno un indumento per coprire le spalle. Vi ricordiamo anche che c’è la piscina riscaldata e vi consigliamo di portare il costume!
				                </div>
				            </div>
				        </div>

				        <div class="panel panel-default">
				            <div class="panel-heading" role="tab" id="headingFour">
				                <h4 class="panel-title">
				                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				                        <i class="more-less glyphicon glyphicon-plus-sign"></i>
				                        C’è una lista nozze?
				                    </a>
				                </h4>
				            </div>
				            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				                <div class="panel-body">
				                    No, convivendo ormai da alcuni anni abbiamo tutto quello che ci serve nel nostro piccolo appartamento a Milano. Come dono per le nozze preferiamo un contributo per rendere meravigliosa la nostra luna di miele. E' gradita sia la busta sia un bonifico all'IBAN: 
				                     <% if (locals.iban) { %><p><span> <%= iban %>  </p></span> <%} %>
									In luna di miele programmiamo di visitare la Nuova Caledonia e la Polinesia Francese.

				                </div>
				            </div>
				        </div>

				        <div class="panel panel-default">
				            <div class="panel-heading" role="tab" id="headingFive">
				                <h4 class="panel-title">
				                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				                        <i class="more-less glyphicon glyphicon-plus-sign"></i>
				                        Chi saranno i testimoni dello sposo? Chi saranno le damigelle della sposa?
				                    </a>
				                </h4>
				            </div>
				            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				                <div class="panel-body">
				                    Il testimone d'onore sarà Luca Argenti e i testimoni saranno Matteo Falocco e Simone Bianchi.
				                    <br>
									La damigella d'onore sarà Lara Gaiotto, il damigello e la damigella saranno Tommaso Casagrande e Claudia Argenti.
				                </div>
				            </div>
				        </div>

				        <br><br>

				        <div class="col-md-8 col-md-offset-2">
							<div class="col-md-12 text-center heading-section">
								<p class="light-blue-text"><strong>Queste sono alcune risposte ad alcune domande. </strong></p>
								<p class="light-blue-text"><strong>Se non trovate quello che cercate, contattateci.</strong></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<% include ../partials/footer %>
	</body>
</html>

