
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>

		<link rel="stylesheet" href="css/blueimp-gallery.min.css">
	</head>
	<body>
		<% include ../partials/header %>

		<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
		    <div class="slides"></div>
		    <h3 class="title"></h3>
		    <a class="prev">‹</a>
		    <a class="next">›</a>
		    <a class="close">×</a>
		    <a class="play-pause"></a>
		    <ol class="indicator"></ol>
		    
		</div>
		
		<div id="links" class="links" style="padding: 7em 0;;margin:0 auto;text-align: center;">
			<% if (locals.imagePath) { %> 
				<% for (var i = 0; i < locals.images.length; i++) { %>
					<a href=<%= imagePath + "c_scale,h_1500/" + images[i] %> > <!-- image -->
				        <img src=<%= imagePath + "c_scale,h_220/" + images[i]%>> <!-- thumbnail -->
				    </a>
				<% } %>
			<% } %>
		</div>


		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<p class="light-blue-text text-center"><strong>
								Potete condividere con gli sposi le vostre foto del matrimonio tramite <a href="/wedshoot">WedShoot</a> in totale rispetto della privacy. <a href="/wedshoot">Scopri come funziona WedShoot sulla pagina dedicata</a>
							</strong></p>
							<p class="light-blue-text text-center"><strong>
								Se postate foto sui social network, come Facebook, Instagram, Youtube, prima di convididerla ricordate di scrivere <span class="blue-text text-center">#marcoclaudiasposi</span> per permettere di ritrovarle con facilità.
							</strong></p>
							<p class="light-blue-text text-center"><strong>
								Avete delle foto degli sposi che ritenete degne di esser inserite in questa pagina?
								<span class="blue-text text-center"><strong>
									<a href="/#comunica">Chiedete agli sposi come fare per aggiungerle!</a>
								</strong></span>
							</strong></p>
							
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<% include ../partials/footer %>
		
		<script src="js/blueimp-gallery.min.js"></script>

		<script>
		document.getElementById('links').onclick = function (event) {
		    event = event || window.event;
		    var target = event.target || event.srcElement,
		        link = target.src ? target.parentNode : target,
		        options = {index: link, event: event},
		        links = this.getElementsByTagName('a');
		    blueimp.Gallery(links, options);
		};
		</script>

	</body>
</html>

