
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row row-bottom-padded-md animate-box">
					<div class="col-md-6 col-md-offset-3 text-center blue-text">
						<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
							<img src="img/bride.jpg" class="img-responsive" alt="">
							<h3>Claudia Gaiotto</h3>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-2 nopadding"><h2 class="amp-center"><i class="icon-heart"></i></h2></div>
						<div class="col-md-5 col-sm-5 col-xs-5 nopadding">
							<img src="img/groom.jpg" class="img-responsive" alt="">
							<h3>Marco Argenti</h3>
						</div>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<h2>Si Sposano</h2>
							<p class="light-blue-text"><strong>il 1 Settembre 2018 presso l'Abbazia San Faustino di Pietralunga</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include ../partials/countdown %>

		<div id="fh5co-couple-story">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center heading-section animate-box">
					<h2>La Nostra Storia</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(img/story-1.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title blue-text">Il primo incontro</h3>
									<span class="date light-blue-text">1 Gennaio 2011</span>
								</div>
								<div class="timeline-body blue-text">
									<p>
										Nella lontana città di Shanghai all'ultimo piano del grattacielo più alto, Claudia e Marco festeggiano il loro primo incontro e l'avvento del nuovo anno.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(img/story-2.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title blue-text">Il primo appuntamento</h3>
									<span class="date light-blue-text">Qualche giorno dopo</span>
								</div>
								<div class="timeline-body blue-text">
									<p>
										L'incontro ha lasciato il segno e pochi giorni dopo decidono di rivedersi per conoscere l'altro e la cucina thailandese.
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(img/story-3.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title blue-text">Il fidanzamento</h3>
									<span class="date light-blue-text">26 Febbraio 2011</span>
								</div>
								<div class="timeline-body blue-text">
									<p>
										La loro storia inizia ufficialmente e Claudia & Marco decidono di iniziare la loro avventura insieme.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(img/story-4.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title blue-text">Insieme a Milano</h3>
									<span class="date light-blue-text">Settembre 2011</span>
								</div>
								<div class="timeline-body blue-text">
									<p>
										La loro avventura dal lontano oriente continua spostandosi nella più vicina Milano tra studio e lavoro.
									</p>
								</div>
							</div>
						</li>
						<li class="animate-box">
							<div class="timeline-badge" style="background-image:url(img/story-5.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title blue-text">La convivenza</h3>
									<span class="date light-blue-text">Gennaio 2015</span>
								</div>
								<div class="timeline-body blue-text">
									<p>
										Voglio che tu sia la prima persona che vedo quando mi sveglio e l'ultima prima di andare a dormire.
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted animate-box">
							<div class="timeline-badge" style="background-image:url(img/story-6.jpg);"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h3 class="timeline-title blue-text">La proposta</h3>
									<span class="date light-blue-text">Ottobre 2017</span>
								</div>
								<div class="timeline-body blue-text">
									<p>
										In una tranquilla serata autunnale, in casa calò il buio. Improvvisamente una luce brillante rischiarò la stanza, Claudia vide Marco inginocchiato. 
										<br><br>
										Alla fatidica proposta, Claudia accettò con goia.
									</p>
								</div>
							</div>
						</li>
			    	</ul>
				</div>
			</div>
		</div>
		</div>

		<div id="fh5co-started" data-stellar-background-ratio="0.5" alt="Not found">
		<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center heading-section">
						<h2 class="blue-text">Comunica con gli sposi!</h2>
						<p class="light-blue-text">Riempi il form ed invia il tuo messaggio agli sposi. Grazie.
					</div>
				</div>

				<div id="modalEmailError" class="row animate-box" hidden>
					<div class="alert alert-danger" style="text-align: center">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<strong>Errore!</strong> L'email non è stata inviata! Ti preghiamo di riprovare più tardi o di contattare direttamente Claudia e Marco. Grazie.
					</div>
				</div>
				<div id="modalEmailSuccess" class="row animate-box" hidden>
					<div class="alert alert-success fade in" style="text-align: center">
						<a href="#" class="close" data-dismiss="alert">&times;</a>
						<strong>Email inviata con successo!</strong> Grazie.
					</div>
				</div>

				<div class="row animate-box">
					<div class="col-md-10 col-md-offset-1">
						<form class="form-inline" id="formEmail" action="/submit/mail" method="POST">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-centered">
									<div class="form-group">
										<input type="name" class="form-control input-form" id="form_name" name="name" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6 col-sm-6 col-centered">
									<div class="form-group">
										<input type="email" class="form-control input-form" id="form_email" name="email" placeholder="Email">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-centered">
					                <div class="form-group">
					                    <textarea id="form_message" name="message" class="form-control" placeholder="Messagio" rows="4" required="required"></textarea>
					                </div>
					            </div>
							</div>

							<div class="row">
								<div class="col-md-12 col-sm-12 col-centered">
									<button type="submit" class="btn btn-primary btn-block" >Invia</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<% include ../partials/footer %>
	</body>
</html>

