
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<h2>Sabato 1 Settembre 2018</h2>
							<h2>all'Abbazia San Faustino (Pietralunga, Pg)</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-couple" class="fh5co-section-white">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 text-center heading-section">
						<h2>La Location: Abbazia San Faustino</h2>
					</div>
					<div class="col-md-8">
						<p class="text-justify">
							Il nostro matrimonio avrà luogo nell' Abbazia San Faustino a Pietralunga (PG).
						</p>
						<p class="text-justify">
							È una abbazia del XIII secolo di architettura medievale e un modernissimo resort, immersa nel verde con un' atmosfera suggestiva. All'interno dell'Abbazia si trova una chiesa sconsacrata, dove celebreremo il rito matrimoniale.
						</p>
						<p class="text-justify">
							Durante la seconda guerra mondiale, l'Abbazia San Faustino fu sede del quartier generale di una brigata partigiana che si oppose alle forze di occupazione. Walter Orebaugh, console americano a Nizza, racconta di questo periodo nel libro ‘Il Console’: 
						</p>
						<p class="font-italic">
							<i>
								“Tra le case, una vecchia chiesa costruita con lo stesso materiale e un campanile quadrato coperto da un tetto di tegole e coppi. Tutti gli edifici erano semplici, intonati al luogo e sembravano essere cresciuti dal terreno roccioso che li circondava. Giuseppe si fermò di fronte alla chiesa e fece il segno della croce, poi si girò verso di me. 'Questo è San Faustino', mi informò.” 
							</i>
						</p>
						<p class="text-justify">
							Per maggiori dettagli sull'Abbazia, suggeriamo di visitare il sito: <a href="http://www.sanfaustinoresort.com">www.sanfaustinoresort.com</a>.
						</p>
					</div>
					<div class="col-md-4 nopadding">
							<img src="img/abbazia.jpg" class="img-responsive" alt="">
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-12 text-center heading-section">
						<h2>Indicazioni stradali</h2>
					</div>
					<p class="blue-text text-center"><strong>
						Località San Faustino di Bagnolo
						<br>
						06026 - Pietralunga (Umbertide) PERUGIA Italy
						<br>
						Tel:  +39 075 946 20 97
						<br>
						Coordinate GPS: 43.364013, 12.388497
					</strong></p>
					<div class="col-md-12 text-center heading-section">
						<p class="light-blue-text"><strong>
							Consigliamo di <span class="blue-text"><i><u>non</u></i></span> impostare la località sul navigatore, in quanto non è correttamente segnalata sulle mappe.
							<br>
							In caso, usare le seguenti coordinate GPS: 43.364013, 12.388497 
							facendo attenzione ad uscire ad Umbertide dalla Strada Statale.
							<br><br>
							<a href="https://www.google.it/maps/dir/43.312342,12.34988/43.364013,12.388497/@43.3328883,12.3222132,13.22z/data=!4m9!4m8!1m5!3m4!1m2!1d12.3735707!2d43.3204617!3s0x132c16e883df0b9f:0xf6f6fa4171b2c71c!1m0!3e0" class="red-text">Clicca QUI per avviare la Navigazione con Google Maps</a>
						</p></strong>
						<p class="blue-text"><strong>
							Consigliamo, inoltre, di seguire le indicazioni riportate di seguito:
						</p></strong>
					</div>
					<div class="col-md-12">
						<p class="text-justify blue-text">
							<b>Arrivando da Nord (Autostrada da Bologna)</b>: seguire l’indicazione per Ancona/Rimini ed uscire a Cesena Nord. Si proceda sulla E45 direzione Roma/Perugia.  Prendere l'Uscita della E45 per UMBERTIDE.  Girare a sinistra e seguire le indicazioni per  Gubbio/Abbazia San Faustino/Villa Valentina Spa. Dopo circa 4 km svoltare a sinistre per Campaola/Abbazia San Faustino/Villa Valentina Spa. Sorpassare Villa Valentina e procedere dritti per circa 7km. L'ultimo km di strada è sterrata.
						</p>
						<p class="text-justify blue-text">
							<b>Arrivando da Sud (Autostrada da Roma – Uscita Orte)</b>: imboccare la E45 direzione Perugia. Superare Perugia e prendere le indicazioni per Cesena/Assisi.Allo svincolo per Assisi/Cesena, imboccare la superstrada direzione Cesena. Prendere l'Uscita della E45 UMBERTIDE - GUBBIO.  Svoltare a destra e seguire le indicazioni per Gubbio per circa 5 km. Al bivio segnalato sia da Abbazia San Faustino che Villa Valentina che Civitella Ranieri, svoltare a sinistra. Procedere diritti per circa 2 km e poi girare a destra per Campaola. Sorpassare Villa Valentina e procedere per la strada in salita per circa 7km. L’ultimo km di strada è sterrata.
						</p>
					</div>
					<div class="col-md-12">
						<p class="text-center blue-text">
							<a href="/download/map" class="red-text" style="font-size:20px;"><strong>Scarica le Indicazioni</strong></a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<% include ../partials/countdown %>
		
		<div id="fh5co-started" data-stellar-background-ratio="0.5" alt="Not found">
			<div class="overlay"></div>
				<div class="container">
					<div class="row animate-box">
						<div class="col-md-8 col-md-offset-2 text-center heading-section">
							<h2 class="blue-text">Programma del Matrimonio</h2>
						</div>

						<p class="col-md-12 text-justify">
							<b>La Cerimonia:</b> Sabato 1 settembre alle ore 16.00 ci troviamo per celebrare il nostro matrimonio all’Abbazia di San Faustino a Pietralunga (Umbertide, PG).
						</p>
						<p class="col-md-12 text-justify">
							<b>I Festeggiamenti:</b> Finita la cerimonia siete invitati a festeggiare con il banchetto nuziale e il taglio della torta. Dopo aver soggiornato, come nostri ospiti presso l’Abbazia, ci saluteremo a colazione.
						</p>

						<p class="col-md-12 text-justify">
							<b>Altre Note:</b> 
							<br>
							È consigliato un abbigliamento business casual, cioè elegante ma non formale, e ci raccomandiamo di portare il costume per usufruire della piscina.
							<br>
							È gradita la conferma e assieme a questa, per godere del banchetto nuziale, vi preghiamo di comunicarci eventuali intolleranze alimentari.
						</p>
					</div>
					</div>
				</div>
			</div>
		</div>

		<% include ../partials/footer %>
	</body>
</html>

