
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<h2>Sabato 1 Settembre 2018 all'abbazia San Faustino (Pg)</h2>

							<p class="light-blue-text"><strong>Simone</strong> sei invitato e devi proprio venire perchè Marco avrebbe piacere di averti tra i sui testimoni. <strong>Vuoi fargli questo onore?</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<% include ../partials/footer %>
	</body>
</html>

