
<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<% include ../partials/header %>
		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-12 text-center heading-section">
							<h2>Sabato 1 Settembre 2018</h2>
							<h2>all'abbazia San Faustino (Pietralunga, Pg)</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-couple" class="fh5co-section-white">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 text-center heading-section">
						<h2>La Location: Abbazia San Faustino</h2>
					</div>
					<div class="col-md-8">
						<p class="text-justify">
							Il nostro matrimonio avrà luogo nell' Abbazia San Faustino a Pietralunga (PG).
						</p>
						<p class="text-justify">
							È una abbazia del XIII secolo di architettura medievale e un modernissimo resort, immersa nel verde con un' atmosfera suggestiva. All'interno dell'Abbazia si trova una chiesa sconsacrata, dove celebreremo il rito matrimoniale.
						</p>
						<p class="text-justify">
							Durante la seconda guerra mondiale, l'Abbazia San Faustino fu sede del quartier generale di una brigata partigiana che si oppone alle forze di occupazione. Walter Orebaugh, console americano a Nizza, racconta di questo periodo nel libro ‘Il Console’: 
						</p>
						<p class="font-italic">
							<i>
								“Tra le case, una vecchia chiesa costruita con lo stesso materiale e un campanile quadrato coperto da un tetto di tegole e coppi. Tutti gli edifici erano semplici, intonati al luogo e sembravano essere cresciuti dal terreno roccioso che li circondava. Giuseppe si fermò di fronte alla chiesa e fece il segno della croce, poi si girò verso di me. 'Questo è San Faustino', mi informò.” 
							</i>
						</p>
						<p class="text-justify">
							Per maggiori dettagli sull'Abbazia, suggeriamo di visitare il sito: <a href="http://www.sanfaustinoresort.com">www.sanfaustinoresort.com</a>.
						</p>
					</div>
					<div class="col-md-4 nopadding">
							<img src="img/abbazia.jpg" class="img-responsive" alt="">
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-couple" class="fh5co-section-gray">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-12 text-center heading-section">
						<h2>Indicazioni stradali</h2>
					</div
					<div class="col-md-12 text-center heading-section">
						<p class="light-blue-text"><strong>
							Consigliamo di <span class="red-text"><i><u>non</u></i></span> impostare la località sul navigatore, in quanto non è segnalata sulle mappe.
						</p></strong>
						<p class="blue-text"><strong>
							Cosigliamo, invece, di seguire le indicazioni riportate di seguito:
						</p></strong>
					</div>
				</div>
				<div class="col-md-12">
					<p class="text-justify blue-text">
						<b>Arrivando da Nord (Autostrada da Bologna)</b>: seguire l’indicazione per Ancona/Rimini ed uscire a Cesena Nord. Si proceda sulla E45 direzione Roma/Perugia.  Prendere l'Uscita della E45 per UMBERTIDE.  Girare a sinistra e seguire le indicazioni per  Gubbio/Abbazia San Faustino/Villa Valentina Spa. Dopo circa 4 km svoltare a sinistre per Campaola/Abbazia San Faustino/Villa Valentina Spa. Sorpassare Villa Valentina e procedere dritti per circa 7km. L'ultimo km di strada è sterrata.
					</p>
					<p class="text-justify blue-text">
						<b>Arrivando da Sud (Autostrada da Roma – Uscita Orte)</b>: imboccare la E45 direzione Perugia. Superare Perugia e prendere le indicazioni per Cesena/Assisi.Allo svincolo per Assisi/Cesena, imboccare la superstrada direzione Cesena. Prendere l'Uscita della E45 UMBERTIDE - GUBBIO.  Svoltare a destra e seguire le indicazioni per Gubbio per circa 5 km. Al bivio segnalato sia da Abbazia San Faustino che Villa Valentina che Civitella Ranieri, svoltare a sinistra. Procedere diritti per circa 2 km e poi girare a destra per Campaola. Sorpassare Villa Valentina e procedere per la strada in salita per circa 7km. L’ultimo km di strada è sterrata.
					</p>
				</div>
			</div>
		</div>
		
		<% include ../partials/footer %>
	</body>
</html>

